body.dark-mode {
    background-color: #2d3748;
}

.dark-mode .bg-white {
    background-color: #4a5568;
}

.dark-mode .text-blue-500 {
    color: #9f7aea;
}

button:hover {
    background-color: #357abd;
}
